/* Other rules */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  background-color: #151515;
  /* background-color: #b3b3b3; */
  color: #ffffff;
  font-family: "Roboto Condensed", sans-serif;
}
.container {
  margin: 0 10px;
}

/* HEADER */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}
.menu {
  position: absolute;
  top: -40px;
  right: -10px;
  width: 50vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #151515;
  border-left: 1px solid white;
  transition: transform ease 0.2s;
  z-index: 9000;
}
.open {
  transform: translateX(0);
  overflow: hidden;
}
.close {
  transform: translateX(100%);
}
.menu > a {
  margin: 20px 0;
  font-size: 1.5rem;
}
.menu > a:hover {
  color: #ed1d24;
}

.burger {
  fill: white;
  transition: display ease 0.2s;
  z-index: 99999;
}
.burger:hover {
  fill: rgb(141, 141, 141);
}
.active {
  display: flex;
}
.inactive {
  display: none;
}

/* ---------------------- */
/* -----------Characters----------- */
.characters-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  /* background-color: turquoise; */
}
.card {
  position: relative;
  width: 250px;
  margin: 30px 0;
  box-shadow: 0px 0px 9px 1px #ed1d24;
  transition: transform ease 0.2s;
}
.card:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.card > img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.card-name {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 100px;
  height: 40px;
  text-align: center;
  padding: 5px;
  line-height: 30px;
  overflow: hidden;
  background-color: #ed1d24;
  font-weight: 600;
}
.card-description {
  margin-top: 15px;
  padding: 10px;
  height: 180px;
  text-align: justify;
}
.fav {
  display: none;
  position: absolute;
  top: 20px;
  left: 10px;
}
.fill {
  display: flex;
  fill: rgb(255, 217, 0);
}
.outlined {
  display: flex;
  fill: rgb(255, 255, 255);
}

/* ---------------------- */

/* ----------FILTERS------------ */
.filters {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(100% - 60px);
}
.second-container {
  display: flex;
  height: 60px;
  background-color: turquoise;
}
.second-container > div:first-child {
  flex: 1;
  background-color: violet;
}
.pages {
  flex: 2;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: tomato;
}
.limit {
  flex: 1;
  background-color: rgb(63, 63, 0);
}

/* ---------------------- */

/* ---------MEDIA QUERIES------------- */
@media (min-width: 768px) {
  .container {
    width: 750px;
    margin: 0 auto;
  }
  nav {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .menu {
    position: unset;
    /* top: -30px;
    right: -10px; */
    width: 400px;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: unset;
    border-left: 0;
  }

  .active,
  .inactive {
    display: none;
  }
  .open {
    transform: unset;
    overflow: unset;
  }
  .close {
    transform: unset;
  }

  /* -----------Characters----------- */

  .card-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
  }
}

@media (min-width: 1024px) {
  .container {
    width: 1010px;
  }
}
@media (min-width: 1180px) {
  .container {
    width: 1180px;
  }
}
/* ---------------------- */
