/* Other rules */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  /* background-color: #f5f5f5; */
  background-color: #3a3939;
  color: #202020;
  font-family: "Bangers", cursive;
}
.container {
  margin: 0 10px;
}

/* HEADER */
header {
  background-color: #202020;
  border-bottom: 2px solid black;
}
.menu > svg:hover {
  cursor: pointer;
}

.menu {
  width: 300px;
  height: 80px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.menu > a {
  margin: 20px 0;
  font-size: 1.5rem;
}
.menu > a:hover {
  color: #ed1d24;
}

/* ---------------------- */
/* -----------Characters----------- */
.characters-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.card {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 20px 0;
  border: 2px solid black;
  box-shadow: 0 6px 6px -6px #000;
  overflow: hidden;
}
.card > img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  transition: transform ease 0.2s;
}
.card > img:hover {
  cursor: pointer;
  transform: scale(1.2);
}
.card-name {
  position: absolute;
  bottom: -2px;
  right: -6px;
  width: 100px;
  height: 40px;
  text-align: center;
  padding: 3px 10px;
  line-height: 30px;
  overflow: hidden;
  background-color: #fff;
  border: 2px solid #000;
  transform: skew(-15deg);
}
.card-description {
  margin-top: 15px;
  padding: 10px;
  height: 180px;
  text-align: justify;
}
.fav {
  display: none;
  position: absolute;
  top: 20px;
  left: 10px;
}
.fill {
  display: flex;
  fill: rgb(255, 217, 0);
}
.outlined {
  display: flex;
  fill: rgb(255, 255, 255);
}

/* ---------------------- */
/* ----------CARD INFO------------ */

.card-info-container {
  background-color: #3a3939;
  margin-top: 20px;
}

.card-image {
  margin-top: 0;
}
.card-image > img:hover {
  cursor: unset;
  transform: unset;
}

.card-name-info {
  font-size: 54px;
  color: white;
}
.card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.comics {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1024px;
  padding-bottom: 20px;
  background-color: #f5f5f5;
  border: 2px solid black;
  box-shadow: 0 6px 6px -6px #000;
}
.description {
  font-size: 24px;
  margin: 20px 10px;
  padding: 5px;
  overflow: hidden;
}
.comic-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 300px;
  margin: 20px 0;
  padding: 10px 0;
}
.comic-container h3 {
  margin-top: 20px;
}
.comic-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 2px solid black;
  box-shadow: 0 6px 6px -6px #000;
}

/* ---------------------- */
/* ----------COMICS------------ */

.card-comic {
  position: relative;
  width: 300px;
  height: 450px;
  margin: 20px 0;
  border: 2px solid black;
  box-shadow: 0 6px 6px -6px #000;
  overflow: hidden;
}
.card-comic > img {
  width: 100%;
  /* height: 300px; */
  object-fit: cover;
  transition: transform ease 0.2s;
}
/* .card-comic > img:hover {
  cursor: pointer;
  transform: scale(1.2);
} */
/* .card-name {
  position: absolute;
  bottom: -2px;
  right: -6px;
  width: 100px;
  height: 40px;
  text-align: center;
  padding: 3px 10px;
  line-height: 30px;
  overflow: hidden;
  background-color: #fff;
  border: 2px solid #000;
  transform: skew(-15deg);
} */
.card-description {
  display: none;
  margin-top: 15px;
  padding: 10px;
  height: 180px;
  text-align: justify;
}
/* ---------------------- */

/* ----------FILTERS------------ */
.filters {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100% - 60px);
}
.second-container {
  display: flex;
  /* height: 60px; */
}
.second-container > div:first-child,
.second-container > div:last-child {
  flex: 1;
}
.pages {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.search {
  margin: 20px 0;
}
input {
  width: 200px;
  outline: none;
  padding: 10px 10px;
  border: 2px solid black;
  box-shadow: 0 6px 6px -6px #000;
  font-family: "Bangers", cursive;
}
.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  width: 200px;
}
.pagination > svg:hover {
  cursor: pointer;
  fill: white;
}

/* ---------------------- */

/* ---------MEDIA QUERIES------------- */
@media (min-width: 768px) {
  .container {
    width: 750px;
    margin: 0 auto;
  }

  /* -----------Characters----------- */

  .card-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
  }
  .comics {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
  }
  .card-comic {
    width: 350px;
    height: 530px;
  }
  .card-comic-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 20px;
  }
}

@media (min-width: 1024px) {
  .container {
    width: 1010px;
  }
}
@media (min-width: 1180px) {
  .container {
    width: 1180px;
  }
}
@media (min-width: 1440px) {
  .container {
    width: 1400px;
  }
}
@media (min-width: 2560px) {
  .container {
    width: 2000px;
  }
}
/* ---------------------- */
